[Unit]
Description=Cerebra (CRB) seed node + miner
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/cerebra/bin/cerebrad \
  -datadir /var/lib/cerebra \
  -p2p :18750 \
  -rpc 127.0.0.1:18751 \
  -public http://188.34.181.191:18750 \
  -peers "" \
  -mine -threads 2 \
  -coinbase __COINBASE__
Restart=always
RestartSec=5
Nice=10
User=root
WorkingDirectory=/var/lib/cerebra

[Install]
WantedBy=multi-user.target
